@font-face {
  font-family: 'GeneralSans';
  src: url("../assets/fonts/GeneralSans-Bold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: 'GeneralSans';
  src: url("../assets/fonts/GeneralSans-Medium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: 'GeneralSans';
  src: url("../assets/fonts/GeneralSans-Regular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: 'GeneralSans';
  src: url("../assets/fonts/GeneralSans-Extralight.woff") format("woff");
  font-display: swap;
  font-weight: 200;
}