@use "variables" as *;
@use "animations" as *;

.wall {
    background-color: $c-wool-white;
    animation: wallAnimation .3s cubic-bezier(0.215, 0.610, 0.355, 1) forwards;
}

.empty {
    background-color: $c-chaos-black;
}

.start {
    background-color: #00FF47;
    cursor:move !important;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 75%;
        height: 75%;
        outline: 1px solid green;
    }
}

.end {
    background-color: #fb3640;
    cursor:move !important;
    position: relative;

        &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 75%;
        height: 75%;
        outline: 1px double maroon;
    }
}

.searching {
        background-color: #E3FFF6;
        background-color: yellow;
        animation: scaleOut .5s cubic-bezier(0.215, 0.610, 0.355, 1) infinite forwards;
}

.visited {
    background-color: #1A1AA7;
    background-color: blue;
    animation: scaleIn 0.3s cubic-bezier(0.215, 0.610, 0.355, 1) forwards;
}

.path {
    background-color: #FF5CFF;
    outline: 1px solid #FF5CFF !important;
    position: relative;
    z-index: 10;
}

.path:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 6px;
    border-radius: 5px;
    animation: path-pulse 1s cubic-bezier(0.215, 0.610, 0.355, 1) infinite;
}

.open {
    max-height: 20em !important;
}

.rotate-up {
    transform: rotate(-180deg);
}

.ripple {
  position: absolute; 
  border-radius: 50%;
  opacity: 0.5;
  transform: scale(0);
  animation: ripple 0.5s linear;
  background-color: $c-wool-white;
  pointer-events: none;
}

.toast {
    background: $c-chaos-black;
    border-radius: 0px;
    color: $c-wool-white;

    &__error {
        outline: 2px solid #fb3640;
        box-shadow: none;
    }
}