@use "../utilities/" as *;


.dropdown {
    width: 100%;
    outline: 2px solid $c-grayish-green;
    padding-inline: .8em;

    &__button {
        width: 100%;
        font-weight: $fw-regular;
        font-size: $fs-300;
        padding-block: 1em;
        background-color: transparent;
        color: $c-wool-white;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__menu {
        display: flex;
        flex-direction: column;
        gap: .4em;
        max-height: 0;
        overflow-y: hidden;

        .option {
            padding-block: .2em;
            padding-inline: .8em;
            font-weight: $fw-light;
            color: $c-light-gray;
            cursor: pointer;
            filter: brightness(.8);

            &:hover {
                filter: brightness(1);
            }
        }

    }
}