@use "../utilities/" as *;


.secondary-button {
    font-size: $fs-300;
    font-weight: $fw-regular;
    padding: 1em;
    color: $c-wool-white;
    background-color: transparent;
    outline: 1px solid $c-wool-white;
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    cursor: pointer;

    @include breakpoint(lg) {
        padding: 0.8em 1em;
    }
}