@use "../utilities/" as *;

body {
    width: 100%;
    height: 100vh;
}

.app {
    width: 100%;
    height: 100%;
    background-color: $c-chaos-black;
    display: grid;
    outline: 2px solid red;
    grid-template-areas: 
    "logo title"
    "menu menu"
    "grid grid";
    grid-template-rows: auto auto 1fr;
    grid-template-columns: auto 1fr;

    @include breakpoint(md) {
        grid-template-areas:
        "logo title"
        "menu grid";
        grid-template-rows: 80px 1fr;
        grid-template-columns: 250px 1fr;
        background-color: #ffffe6;
    }

    &__logo {
        grid-area: logo;
        outline: 2px solid red;
    }

    &__title {
        grid-area: title;
        outline: 2px solid red;
        padding: 1em;

        .title {
            text-align: center;
        }
    }

    &__menu {
        grid-area: menu;
        outline: 1px solid $c-grayish-green;
    }

    &__grid {
        grid-area: grid;
    }
}