@use "../utilities/" as *;


.app__logo {
    padding-block: 1rem;
    padding-inline: 1.5rem;
    display: flex;
    align-items: center;
    
    .logo {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .3em;

        &__name {
            display: none;

            @include breakpoint(md) {
                display: block;
                font-size: $fs-700;
            }
        }
    }

    
}

.app__title {
    padding: 1em;
    text-align: center;
    display: grid;
    place-content: center;
}