@use "../utilities/" as *;


.app__menu {
    display: flex;
    flex-direction: column;

    .toggle-menu {
        font-size: $fs-400;
        width: 100%;
        height: 64px;
        background-color: transparent;
        color: $c-wool-white;
        outline: 1px dashed $c-grayish-green;

        @include breakpoint(lg) {
            display: none;
        }
    }

    .menu {
        width: 100%;
        height: auto;
        max-width: 375px;
        max-height: 200px;
        overflow-y: scroll;
        padding-inline: 2em;
        margin-inline: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex-grow: 1;
        gap: 2rem;

        @include breakpoint(lg) {
            max-height: 100vh;
            overflow-y: auto;
            // padding: 1em;
        }

        &__top-controls {

            & > * {
                margin-top: 2em;
            }

            .grid-controls {
                display: flex;
                gap: 2em;                
            }
        }

        &__bottom-controls {
            margin-bottom: 2rem;
        }
    }
}